CONN_STR=postgresql+asyncpg://user:password@address:port/data_base_name

# Zmienne do pliku security.py - JWT
SECRET_KEY = TwojSecretKey
ALGORITHM = HS256
ACCESS_TOKEN_EXPIRE_MINUTES = 60 * 24 # 24 godziny
